extends /layout

block content
  .page-header: h1 Registration

  if validationErrors
    - each error in validationErrors
      .alert.alert-danger
        strong= error.msg

  p
    | Please enter your email address to complete registration - if you don't
    | you won't be able to access the forums.

  form.form-horizontal(role='form', method='post', action='#')
    .form-group
      label.col-sm-2.control-label(for='inputEmail') Email
      .col-sm-10
        input.form-control(type='email', name='inputEmail', placeholder='Email')
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit') Register
