node_modules
bower_components
npm-debug.log

# hide compiled css
public/css

# hide environment config
config.js

# compiled ember js (use ember build)
public/js/application.js
public/js/index.js
public/js/templates.js

# platform files
.DS_Store
