node_modules/
bower_components/
npm-debug.log

# hide heroku config:dump keys
.

# hide compiled css
public/stylesheets/

# hide environment config for local development
config.js

# platform files
.DS_Store
