extends layout

block content
  h1= title

  if user
    | Welcome 
    include parts/user/profile

    p #{user.steamid}

    p
      include parts/user/avatar

    a(href="/logout") Logout
  else
    include parts/steam_login
