extends layout

block content
  h1= title

  if user
    | Welcome 
    include parts/user/profile

    p #{user.steamid}

    p
      img(src=user.avatar_full)

    a(href="/logout") Logout
  else
    include parts/steam
