doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if flash.success
      pre #{flash.success}

    if flash.error
      pre #{flash.error}

    block content
