doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title= title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/stylesheets/style.css', rel='stylesheet')

    //- Use shiv and respond for < IE 9.
    <!--[if lt IE 9]>
    script(src='ttps://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js')
    <![endif]-->
  body
    //- Check for outdated internet explorer :(
    //- TODO: test this on IE < 8
    <!--[if lt IE 8]>
    p.alert.alert-warning
      | You are using an outdated browser. Please 
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
    <![endif]-->

    .container
        
        if flash.success
          pre #{flash.success}

        if flash.error
          pre #{flash.error}

        block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="javascript/vendor/jquery-1.11.0.min.js"><\/script>')

    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
