extends /layout

block content
  .row
    .col-xs-4.col-sm-3.col-lg-2
      img.img-thumbnail.img-responsive(src=profile.avatarLarge, alt='Steam avatar for #{profile.displayName}')

    .col-xs-8.col-sm-9.col-lg-10
      h1= profile.displayName

      if user
        .admin
          if user.hasPermission([Permission.user.admin.domination.country])
            button.btn.btn-danger Delete

  .row
    .col-xs-12
      p This ar be someones profile, yarr.
