<template name="news">
  {{#if posts}}
    {{#each posts}}
      {{> newsPost}}
    {{/each}}
  {{else}}
    <h3>
      <i class="fa fa-circle-o-notch fa-spin"></i> Loading news...
    </h3>
  {{/if}}
</template>

<template name="newsPost">
  <div class="row news-post">
    <div class="col-sm-12">
      <article>
        <header>
          <h1 class="title">
            <a href="{{discourseLink}}/t/{{topic_slug}}/{{topic_id}}">
              {{title}}
            </a>
          </h1>

          <span class="label label-primary">
            <i class="fa fa-clock-o"></i> {{createdMoment}}
          </span>

          <span class="label label-info">
            <a href="{{discourseLink}}/users/{{username}}">
              {{#if admin}}
                <i class="fa fa-trophy"></i>
              {{else}} {{#if moderator}}
                <i class="fa fa-magic"></i>
              {{/if}} {{/if}}
              {{username}}
            </a>
          </span>
        </header>

        <div class="content">
          {{{cooked}}}
        </div>

        <footer>
          <h4 class="discourse">
            <a href="{{discourseLink}}/t/{{topic_slug}}/{{topic_id}}">
              Discussion ({{posts_count}} replies)
            </a>
          </h4>
        </footer>
      </article>
    </div>
  </div>
</template>
